<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                <i class="bi bi-exclamation-circle-fill"></i> 
                <p>Cada cambio que hagas en estos datos se vera reflejado en CrediAutos</p>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="info">
                <h6>Permitir el uso de tu información para recibir recomendaciones personalizadas</h6>
                <p>Recibe mejores sugerencias de vehículos, productos y comunicaciones en base a tu información y comportamiento en línea.</p>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
              </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="info">
                        <h6>Administrar preferencias de publicidad</h6>
                        <p>Elige si quieres ver anuncios relacionados a tus intereses</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="">
                        <div class="link">
                        <p>Administrar preferencias</p>
                        <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="info">
                        <h6>Descargar tu Informacion</h6>
                        <p>Obtén un archivo con tus datos y el detalle de las operaciones realizadas con tu cuenta.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="">
                        <div class="link">
                        <p>Pedir reporte</p>
                        <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="info">
                        <h6>Eliminar tus datos</h6>
                        <p>Cancela tu cuenta y elimina tu información de Crediautos</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="">
                        <div class="link">
                        <p>Cancelar cuenta</p>
                        <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <p>
        Nos comprometemos a que tus datos personales siempre serán confidenciales y estarán protegidos,
         ya sea en tu dispositivo como en nuestros servidores. <a [routerLink]="['/privacidad']">Conoce cómo cuidamos tu privacidad.</a>
    </p>
</div>