.footer{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    font-family: Arial,Helvetica,"Nimbus Sans L";
    padding: 0px;
    /*background-color: rgba(209, 209, 209, 0.801) !important;*/
    background-color: #e51e1d !important;
}
.label-info{
    width: 100%;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
}
label{
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
    padding: 3px 10px;
    cursor: pointer;
    background-color: #f7f7f7;
}
.footer-col{
    font-size: 12px;
    text-align: start;
}
.footer-col h6{
    font-size: 12px;
    font-weight: 600;
}
.footer-col a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer-col a:hover{
    text-decoration: underline;
}
.footer-col li{
    list-style: none;
}
.footer-col ul{
    padding: 0;
    margin: 0;

}
.footer-col i{
    margin-right: 10px;
}
.footer1{
    padding: 0px;
    background-color: rgb(255, 248, 248);
}
.footer2{
    
}
.footer-style{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-color: #e51e1d !important;
    color: white;
}

.footer-style a{
    font-size: 14px;
    margin-left: 10px;
    color: white;
}