
    <div class="footer">
        <label for="footer1">Mas Informacion</label>
        <div class="footer1">
           <div class="footer1-content">
            <footer class="text-center footer-style">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 footer-col">
                            <h5>Ayuda / PQR</h5>
                            <ul>
                                <li>Modifica tu anuncio</li>
                                <li>Notifica tu venta</li>
                                <li>Preguntas frecuentes</li>
                                <li>Resolucion de problemas</li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-col">
                            <h5>Redes Sociales</h5>
                            <ul>
                                <li>Facebook</li>
                                <li>Twitter</li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-col">
                            <h5>Mi cuenta</h5>
                            <ul>
                                <li>Ingresa</li>
                                <li>Publica tu vehiculo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
           </div>
        </div>
        <div class="footer2">
            <div class="footer2-content">
                <footer class="text-center footer-style">
                    <small>
                        Copyright © 2012-2021 Boyaca Web  nit -17514545416 -3
                    </small>
                    <nav>
                        <a href="">Trabaja con nosotros</a>
                        <a href="">Terminos y condiciones</a>
                        <a href="">Como cuidamos tu privacidad</a>
                        <a href="">Ayuda /PQR</a>
                    </nav>
                    <small>Contáctanos al 018000-00000 o al (1) 738454 desde tu celular.</small>
                </footer>
            </div>

        </div>
    </div>