
        <div class="label-info">
            <label for="footer1" (click)="showInfo()">Mas Informacion <i class="bi bi-caret-down" ></i></label>
        </div>
    <div class="footer" >
        <div class="footer1" *ngIf="infr">
           <div class="footer1-content">
            <footer class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 footer-col">
                            <h6>Ayuda / PQR</h6>
                            <ul>
                                <li><a [routerLink]="['/modificar']">Modifica tu anuncio</a></li>
                                <li><a [routerLink]="['/notificar']">Notifica tu venta</a></li>
                                <li><a [routerLink]="['/questions']">Preguntas frecuentes</a></li>
                                <li><a [routerLink]="['/contact']">Resolucion de problemas</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-col">
                            <h5>Redes Sociales</h5>
                            <ul>
                                <li><a href=""><i class="bi bi-facebook"></i>Facebook</a></li>
                                <li><a href=""><i class="bi bi-twitter"></i>Twitter</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-col">
                            <h5>Mi cuenta</h5>
                            <ul>
                                <li><a [routerLink]="['/login']">Ingresa</a></li>
                                <li><a [routerLink]="['/publish']">Publica tu vehiculo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
           </div>
        </div>
        <div class="footer2">
            <div class="container footer2-content">
                <footer class="footer-style">
                    <small>
                        Copyright © 2012-2021 Boyaca Web  nit -17514545416 -3
                    </small>
                    <nav>
                        <a href="">Trabaja con nosotros</a>
                        <a [routerLink]="['/terminos']">Terminos y condiciones</a>
                        <a [routerLink]="['/privacidad']">Como cuidamos tu privacidad</a>
                        <a [routerLink]="['/questions']">Ayuda /PQR</a>
                    </nav>
                    <small>Contáctanos al 018000-00000 o al (1) 738454 desde tu celular.</small>
                </footer>
            </div>

        </div>
    </div>