<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Comunicaciones</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 subtitle">
            <p>Elige qué tipo de información quieres recibir</p>
            <div class="alert alert-primary" role="alert">
                <i class="bi bi-exclamation-circle-fill"></i> 
                <p>Cada cambio que hagas en estos datos se vera reflejado en CrediAutos</p>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="title">
                <h6>E-mails</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <p>Tu publicacion esta por finalizar</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="publishEnding" checked>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Finalizo tu publicacion/p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="publishEnding" checked>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Seguirás recibiendo comunicaciones con información importante sobre tu cuenta.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="buttons">
                <button class="btn btn-primary">
                    Guardar
                </button>
                <button class="btn btn-secondary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>