<app-header></app-header>
<app-search></app-search>
<div class="row publicidad">
  <div class="col-12">
    <h4>Publicidad</h4>
  </div>
</div>
<div class= "fondoBlack"> 
  <app-featured></app-featured>
  <app-featurednew></app-featurednew>
  <app-featuredarticle></app-featuredarticle>
</div>

<app-stors></app-stors>
  <app-wanted></app-wanted>

<div class="row publicidad">
  <div class="col-12">
  </div>
</div>
<app-wanted-motos></app-wanted-motos>
<div class="row publicidad">
  <div class="col-12">
  </div>
</div>
<app-wanted-camiones></app-wanted-camiones>
<app-footer-p></app-footer-p>
