<app-header></app-header>
<app-search></app-search>
<div class="row publicidad">
  <div class="col-12">
    <h6>Publicidad</h6>
  </div>
</div>
<app-featured></app-featured>
<app-featured></app-featured>
<app-stors></app-stors>
<app-wanted></app-wanted>
<div class="row publicidad">
  <div class="col-12">
    <h6>Los mas buscados en Motos</h6>
  </div>
</div>
<app-wanted-motos></app-wanted-motos>
<div class="row publicidad">
  <div class="col-12">
    <h6>Los Camiones mas buscados</h6>
  </div>
</div>
<app-wanted-motos></app-wanted-motos>
<app-footer></app-footer>
