<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Preguntas Frecuentes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Este documento es parte integrante de los Términos y Condiciones Generales de Servicio.
                Mediante la aceptación de los Términos y Condiciones Generales en el momento del registro o
                de contratación del servicio, el cliente acepta las políticas aquí contenidas.</p>
            <br>
            <p>Los costos del servicio dependen del tipo publicación contratada para el aviso clasificado.</p>
            <br>
            <p>Todos los precios aquí enumerados incluyen IVA. Los recibos de cobro emitidos incluirán el
                Impuesto al Valor Agregado, el usuario que requiera la factura, deberá de contar con el NIT
                correspondiente y solicitarlo una vez que realice el pago.</p>
            <br>
            <p>A) Cargo de publicación: Publicar un aviso clasificado en Tucarro.com tiene un costo.
                Al momento de publicar un aviso, se puede contratar distintas opciones de destaque o
                promoción. Lee atentamente las condiciones de generación y cobranza de esos cargos.
                Estos cargos pueden ser:
            </p>
            <br>
            <h6>Opciones promoción y publicación</h6>
            <br>
            <p>Precios vigentes desde el 12 de julio de 2021.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    
                </h2>
            </div>
            <div id="no-more-tables">
                <table class="col-sm-12 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>Tipo de publicacion</th>
                            <th>Cantidad de fotos</th>
                            <th>Ubicacion en la pagina</th>
                            <th>Opciones</th>
                            <th>Precio</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Tipo de publicacion">Publicación Oro Premium (Centro de Fotografía)</td>
                            <td data-title="Cantidad de fotos">8 (ocho) *</td>
                            <td data-title="Ubicacion en la pagina">Superior **</td>
                            <td data-title="Opciones">Centro de fotografía</td>
                            <td data-title="Precio">$ 205.000</td>
                        </tr>
                        <tr>
                            <td data-title="Tipo de publicacion">Publicación Oro (Centro de Fotografía)</td>
                            <td data-title="Cantidad de fotos">6 (seis) *</td>
                            <td data-title="Ubicacion en la pagina">Alta **</td>
                            <td data-title="Opciones">Centro de fotografía</td>
                            <td data-title="Precio">$ 150.000</td>
                            
                        </tr>
                        <tr>
                            <td data-title="Tipo de publicacion">Publicación Oro Premium</td>
                            <td data-title="Cantidad de fotos">8 (ocho) *</td>
                            <td data-title="Ubicacion en la pagina">Superior **</td>
                            <td data-title="Opciones">Pago en línea</td>
                            <td data-title="Precio">$ 190.000</td>
                            
                        </tr>
                        <tr>
                            <td data-title="Tipo de publicacion">Publicación Oro</td>
                            <td data-title="Cantidad de fotos">6 (seis) *</td>
                            <td data-title="Ubicacion en la pagina">Alta **</td>
                            <td data-title="Opciones">Pago en línea</td>
                            <td data-title="Precio">$ 135.000</td>

                            
                        </tr>
                        <tr>
                            <td data-title="Tipo de publicacion">Publicación Plata</td>
                            <td data-title="Cantidad de fotos">4 (cuatro) *</td>
                            <td data-title="Ubicacion en la pagina">Media **</td>
                            <td data-title="Opciones">Pago en línea</td>
                            <td data-title="Precio">$ 70.000</td>
                            
                        </tr>
                        
                        
            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Los precios pueden variar según la región en la que publiques.</p>
            <p>* En la sección destinada a fotografías dentro de la descripción del aviso clasificado.</p>
            <p>** La ubicación en la página podría variar a partir de la cantidad de publicaciones activas 
                en cada categoría del sitio.</p>
            <p>B) Características generales del Servicio: Independientemente del tipo de publicación elegida, 
                el servicio contratado por el Cliente incluye lo siguiente:</p>
            <ul>
                <li>Fotografías. Las publicaciones de 4 fotografías (Básica) sólo estarán disponibles para Pago
                 en línea. Si el cliente toma sus propias fotografías las mismas deberán cumplir con los 
                 estándares exigidos por el sitio para su publicación.</li>
                <li>
                    Publicación de anuncios. El anuncio se publicará en el sitio web alojado en www.tucarro.com.co
                     en el formato preestablecido y con las demás condiciones que se mencionan en esta sección.
                </li>
                <li>
                    Carga de anuncios. La carga del aviso clasificado del Cliente podrá ser realizada por el mismo
                     usuario o por agentes o dependientes de TuCarro.com, en cuyo caso se hará por cuenta y orden
                      del usuario y siguiendo sus instrucciones expresas en cuanto a información, modalidad, etc.
                       Dicha carga se hará conforme y dentro de los campos preestablecidos en el sitio. En todos 
                       los anuncios, el usuario deberá declarar, brindar y publicar toda información relativa el 
                       bien ofrecido de manera exacta, precisa y verdadera y asume el compromiso de actualizarla 
                       conforme resulte necesario. TuCarro.com NO se responsabiliza por la certeza de la 
                       información provista por sus usuarios, tanto a relativa a sus datos personales como al bien
                        ofrecido. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad,
                         exactitud, vigencia y autenticidad de todos los datos ingresados.
                </li>
                <li>
                    Modificar tu publicación. Puedes hacerlo contactándonos desde tu fijo nacional o local al 
                    018000-180764 o desde tu celular al (1)-743-8025. Recuerda que el número original de teléfono
                     no podrá ser eliminado, aunque sí podrás agregar teléfonos adicional. Tampoco podrás cambiar 
                     el renglón denominado EXTRAS. El anuncio es intransferible y solo podrá hacer mención a un 
                     único bien.
                </li>
                <li>
                    Plazo de publicación y forma de renovación. El término de la publicación es ilimitado.
                    Sin embargo, cada 60 días (contados desde el primer día de publicación) enviaremos un e-mail para
                    que renueves tu anuncio si deseas continuar con el servicio. También puedes renovar tu anuncio 
                    desde tu fijo nacional o local al 018000-180764 o desde tu celular al (1)-743-8025. Si en
                    60 días no se renueva la publicación, TuCarro.com se reserva el derecho de suspenderla sin
                     previo aviso. Las renovaciones son gratuitas siempre y cuando se realicen dentro del lapso establecido.
                </li>
                <li>
                    Cantidad que puede ofrecerse. El servicio es válido única y exclusivamente para la venta de un 
                    (1) sólo vehículo por clasificado. TuCarro.com se reserva el derecho de eliminar o no publicar 
                    clasificados que pretendan vender más de un carro o unidad en un mismo aviso.
                </li>

            </ul>
            <p>Puedes efectuar los pagos directamente a los fotógrafos autorizados de TuCarro.com en efectivo.</p>
        </div>
    </div>

</div>