.item strong{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
}
.motos{
    align-items: center;
    padding: 20px;
}