<div class="container-fluid">
    <div class="body-resumen">
        <div class="row">
            <div class="col-12 title-resumen">
                <h3>Resumen</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 resumen-info">
                <div class="title">
                    <i class="bi bi-chat-fill"></i>
                    <p>Preguntas</p>
                </div>
                <ul>
                    <li>
                        <div class="number">
                            <p>0</p>
                        </div>
                        <p>Sin responder</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 resumen-info">
               <div class="title">
                <i class="bi bi-bookmarks-fill"></i>
                <p>Publicaciones</p>
               </div>
               <ul>
                <li>
                    <div class="number">
                        <p>0</p>
                    </div>
                    <p>Activas</p>
                </li>
                <li>
                    <div class="number">
                        <p>0</p>
                    </div>
                    <p>Pausadas</p> 
                </li>
                <li>
                    <div class="number">
                        <p>0</p>
                    </div>
                    <p>Finalizadas</p> 
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
