<div class="container-fluid">
    <app-header></app-header>>
    <div class="body container-fluid">
        <div class="form row">
            <div class="head col-md-12">
                <h3>¡Hola! Para vender, ingresa a tu cuenta</h3>
            </div>
            <div class="buttons col-md-12">
                <button type="submit" class="btn btn-primary" (click)="create()">Soy nuevo</button>
                <button type="button" class="btn btn-light" (click)="login()">Ya tengo cuenta</button>
            </div>
        </div>
        
    </div>
    <app-footer-p></app-footer-p>
</div>