<div class="container">
    <div class="row">
        <div class="col-12 title-header">
            <h4>Mis Datos</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 titles">
            <div class="">
                <h6>Datos de Cuenta</h6>
            </div>
            <div class="ayuda">
                <a href="">Necesito ayuda</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 block-info">
                    <div class="usuario">
                    <span>Usuario</span>
                    <span>{{ usuario }}</span>
                    </div>
                <i class="bi bi-chevron-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12 block-info">
                    <div class="usuario">
                    <span>Email</span>
                    <span>{{ email }}</span>
                </div>
                <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 titles">
            <div class="personales">
                <h6>Datos Personales</h6>
            </div>
            <div class="ayuda">
                <a href="">Necesito ayuda</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 block-info">
                    <div class="usuario">
                        <span>Nombre y Apellido</span>
                        <span>{{user.name}} {{user.lastname}}</span>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12 block-info">
                    <div class="usuario">
                        <span>Documento</span>
                        <span>{{ user.identificacion }}</span>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12 block-info">
                    <div class="usuario">
                        <span>Telefono</span>
                        <span>{{ user.telefono }}</span>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12 block-info">
                    <div class="usuario">
                        <span>Telefono alternativo</span>
                        <span></span>
                    </div>
                    <a href="">agregar</a>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 titles">
            <div class="title-tarjetas">
                <h6>Tarjetas</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 block-info">
                    <div class="tarjeta ">
                        <div class="img-tarjeta">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_78GASNrc_syNiXAKDibXDpbp-tCAKAUPRgddH8aH9gG2DsOk_YpxVZc2WLh2gX-sdDk&usqp=CAU" 
                            style="height: 66px; height: 66px;" alt="">
                        </div>
                        <div class="datos-tarjeta">
                            <strong>Terminada en 1245</strong>
                            <span>Visa</span>
                            <span>Vencimiento 16/2016</span>
                        </div>
                    </div>
                    <a href="">Eliminar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 block-info">
                    <div class="tarjeta">
                        <div class="img-tarjeta">
                            <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mastercard-4-logo.png" 
                            style="height: 66px; height: 66px;" alt="">
                        </div>
                        <div class="datos-tarjeta">
                            <strong>Terminada en 7854</strong>
                            <span>Master Card</span>
                            <span>Vencimiento 16/2019</span>
                        </div>
                    </div>
                    <a href="">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 titles">
            <h6>Domicilios</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 block-info-direccion">
            <div class="info-direccion">
                <h6>{{ user.direcciones.name }}</h6>
                <span>{{ user.direcciones.descripcion }}</span>
                <span>{{ user.direcciones.ciudad }}</span>
                <span>{{ user.name }} - {{ user.telefono }}</span>
            </div>
            <div class="opt-direccion">
                <i class="bi bi-three-dots-vertical"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="">Aviso de privacidad y confidnecialidad de la informacion</a>
    </div>
</div>