<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12 cuenta">
                    <i class="bi bi-list"></i>
                    <h4>Mi cuenta</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ventas">
                    <div class="ventas-menu">
                    <i class="bi bi-shop"></i>
                    <p> Ventas </p>
                    </div>
                    <i class="bi bi-caret-down" ></i>
                </div>
                <div class="row options-ventas">
                    <div class="col-12 options">
                        <a routerLink="resumen">Resumen</a>
                        <a routerLink="publicaciones">Publicaciones</a>
                        <a [routerLink]="['datosinteres']">Datos de mis interesados</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 config">
                    <div class="config-menu">
                        <i class="bi bi-gear"></i>
                    <p> Configuracion </p>
                    </div>
                    <i class="bi bi-caret-down" ></i>
                </div>
                <div class="row options-config">
                    <div class="col-12 options">
                        <a routerLink="misdatos">Mis datos</a>
                        <a routerLink="privacidad">Privacidad</a>
                        <a routerLink="comunicaciones">Comunicaciones</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>