<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/CrediAutosFaviconPEQUENO32x32.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                CrediAutos
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navheader" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/registro']">Crea tu cuenta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Ingresa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/questions']" ><i class="bi bi-question-circle-fill"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-8 first-col">
                    <div class="row migas">
                        <div class="col-md-12">
                            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a [routerLink]="['/questions']">Ayuda / PQR</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">No puedo acceder a mi cuenta</li>
                                </ol>
                              </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 header">
                            <h4>No puedo acceder a mi cuenta</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 link">
                            <a [routerLink]="['/trabajando']">
                                <div class="link-text">
                                    Olvide mi clave, ¿como ingreso a mi cuenta?
                                </div>
                                <div class="link-icon">
                                    <i class="bi bi-caret-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4 second-col">
                    <form class="d-flex search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      </form>
                  </div>
              </div>

          </div>
      </div>
      <div class="footer">
        <div class="footer-content">
            <footer class="text-center footer-style">
                <nav>
                    <a href="">Trabaja con nosotros</a>
                    <a href="">Terminos y condiciones</a>
                    <a href="">Como cuidamos tu privacidad</a>
                    <a href="">Ayuda /PQR</a>
                    <a href="">www.sic.gov.co</a>
                </nav>
                <small> Copyright © 2012-2021 Boyaca Web  nit -17514545416 -3 Contáctanos al 018000-00000 o al (1) 738454 desde tu celular.</small>
            </footer>
        </div>
    
    </div>
</div>