<div class="container-fluid">
    <app-header></app-header>
      <div class="body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-8 first-col">
                    <div class="row migas">
                        <div class="col-md-12">
                            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a [routerLink]="['/questions']">Ayuda / PQR</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">No puedo acceder a mi cuenta</li>
                                </ol>
                              </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 header">
                            <h4>No puedo acceder a mi cuenta</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 link">
                            <a [routerLink]="['/trabajando']">
                                <div class="link-text">
                                    Olvide mi clave, ¿como ingreso a mi cuenta?
                                </div>
                                <div class="link-icon">
                                    <i class="bi bi-caret-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4 second-col">
                    <form class="d-flex search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      </form>
                  </div>
              </div>

          </div>
      </div>
      <app-footer-p></app-footer-p>
</div>