<app-header [option]="headers"></app-header>
<div class="container-fluid">
    
    <div class="row header">
      <div class="col-12">
        <h3>Contáctanos</h3>
      </div>
    </div>
    <div class="body-publish">
        <div class="contact-contain">
            <p>Comunícate con nosotros a través de nuestro sitio web, usando las diferentes 
                planillas que hemos preparado para:</p>
                <ul>
                    <li><a href="">Publicar tu carro</a> en CrediAutos.com</li>
                    <li><a href="">Modificar los datos</a> de tu aviso.</li>
                    <li><a href="">Renovar tu anuncio</a> en TuCarro.com por otro 60 días adicionales gratis.</li>
                    <li><a href="">Notificar que tu carro ya fue vendido.</a></li>
                    <li><a href="">Observaciones</a> o sugerencias sobre nuestro servicio.</li>
                </ul>
            <p>O revisa la información que hemos dispuesto sobre:</p>
            <ul>
                <li>Nuestras <a href="">tarifas y beneficios.</a></li>
                <li>Las <a href="">preguntas frecuentes</a> de nuestros usuarios.</li>
            </ul>
            <h4>Oficina principal en ?</h4>
            <div class="table">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Datos
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Horario de Atención al Cliente</td>
                            <td><p>Lunes a viernes de 7:30 am. a 7:30 pm.</p><p>Sábados de 8:30 am. a 1:00 pm.</p></td>
                        </tr>
                        <tr>
                            <td>Llámanos desde tu fijo Nacional o Local al </td>
                            <td>018000-11001001</td>
                        </tr>
                        <tr>
                            <td>Desde tu celular al</td>
                            <td>(1) 738-4557</td>
                        </tr>
                        <tr>
                            <td>(1) 743-8025</td>
                            <td>Carrera 17 No. 93 - 09. Oficina 405. Tunja, boyaca.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <footer class="footer-style">
            <nav>
                <a href="">Trabaja con nosotros</a>
                <a href="">Terminos y condiciones</a>
                <a href="">Como cuidamos tu privacidad</a>
                <a href="">Ayuda /PQR</a>
                <a href="">www.sic.gov.co</a>
            </nav>
            <small> Copyright © 2012-2021 Boyaca Web  nit -17514545416 -3 Contáctanos al 018000-00000 o al (1) 738454 desde tu celular.</small>
        </footer>
    </div>
    </div>
  </div>