<div class="container-fluid">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
        <div class="container-fluid justify-content-end">
          <a class="navbar-brand" href="#">
            <img src="../../../assets/CrediAutosFaviconPEQUEÑO32x32.svg" alt="" width="30" height="24"
              class="d-inline-block align-text-top">
            CrediAutos
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navheader" id="navbarSupportedContent">
            <div class="container-fluid justify-content-end">
              <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#">Ayuda / PQR</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Contáctanos</h3>
      </div>
    </div>
    <div class="body-publish">
        <div class="contact-contain">
            <p>Comunícate con nosotros a través de nuestro sitio web, usando las diferentes 
                planillas que hemos preparado para:</p>
                <ul>
                    <li>Publicar tu carro en CrediAutos.com</li>
                    <li>Modificar los datos de tu aviso.</li>
                    <li>Renovar tu anuncio en TuCarro.com por otro 60 días adicionales gratis.</li>
                    <li>Notificar que tu carro ya fue vendido.</li>
                    <li>Observaciones o sugerencias sobre nuestro servicio.</li>
                </ul>
            <p>O revisa la información que hemos dispuesto sobre:</p>
            <ul>
                <li>Nuestras tarifas y beneficios.</li>
                <li>Las preguntas frecuentes de nuestros usuarios.</li>
            </ul>
            <h4>Oficina principal en ?</h4>
            <div class="table">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Datos
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Horario de Atención al Cliente</td>
                            <td><p>Lunes a viernes de 7:30 am. a 7:30 pm.</p><p>Sábados de 8:30 am. a 1:00 pm.</p></td>
                        </tr>
                        <tr>
                            <td>Llámanos desde tu fijo Nacional o Local al </td>
                            <td>018000-11001001</td>
                        </tr>
                        <tr>
                            <td>Desde tu celular al</td>
                            <td>(1) 738-4557</td>
                        </tr>
                        <tr>
                            <td>(1) 743-8025</td>
                            <td>Carrera 17 No. 93 - 09. Oficina 405. Tunja, boyaca.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="footer2-content">
        <footer class="text-center footer-style">
            <nav>
                <a href="">Trabaja con nosotros</a>
                <a href="">Terminos y condiciones</a>
                <a href="">Como cuidamos tu privacidad</a>
                <a href="">Ayuda /PQR</a>
                <a href="">www.sic.gov.co</a>
            </nav>
            <small> Copyright © 2012-2021 Boyaca Web  nit -17514545416 -3 Contáctanos al 018000-00000 o al (1) 738454 desde tu celular.</small>
        </footer>
    </div>
    </div>
  </div>