<div class="container-fluid">
    <div class="body-publicacion">
        <div class="row">
            <div class="col-12 title-publicaciones">
                <h3>Publicaciones</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-search">
                    <div class="search">
                        <input type="text" placeholder="Buscar en publicaciones">
                        <button class="btn btn-primary">Buscar</button>
                        <p>Filtros: </p>
                        <select name="filtro" id="">
                            <option value="">Clasificados</option>
                        </select>
                    </div>
                    <div class="config">
                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown dropstart">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="true"><i class="bi bi-gear"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href=""> Mercado Envios</a></li>
                                    <li><a class="dropdown-item">Dimensiones maximas permitidas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

