.body-publicacion{
    padding: 40px 20px;
}
.title-publicaciones{
    padding-bottom: 20px;
}
.form-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.search input{
    margin-left: 15px;
    margin-right: 15px;
}
.search button, p, select{
    margin-left: 15px;
    margin-right: 15px;
}