.filtro-pres{
    display: flex;
    flex-direction: row;
}
.p-color{
    color: rgba(255, 255, 255, 0.897);
}
.blanco{
    color:white;
}
.brand-filter{
    max-height: 300px !important;
    overflow-y: auto;
}
.center{
    width: 320px !important; 
    height: 150px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.img-product{
    width: 210px !important;
    height: 210px !important;
}
.cursor{
    cursor:pointer;
}
