<div class="publicaciones-recomendadas contenedor">
    <div class="contenedor-titulo-controles fuenteBlanca">
        <h3 class="fuenteBlanca" >Publicaciones destacadas</h3>
        <div class="indicadores">
         
        </div>
    </div>
    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="bi bi-chevron-left"></i></button>

        <div class="contenedor-carrousel">
            <div class="carrousel ">
                <div class=" publicacion" *ngFor="let publicacion of vehicles">
                    <a [routerLink]="['/producto']"><img [src]="publicacion.urlimg" alt=""
                        ></a>
                    <div class="description">
                        <h3>$ {{ publicacion.valor }}</h3>
                        <p>{{ publicacion.desc }}</p>
                    </div>
                </div>
                
            </div>
        </div>

        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="bi bi-chevron-right"></i></button>
    </div>
</div>
