.container-fluid{
    padding: 0;
}
.body-publish{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 80%;
    border: 1px solid #999;
    border-radius: 4px;
}
.header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.options{
    border: 1px solid #999;
    margin: 20px;
}
.option{
    border: 1px solid #999;
    margin: 10px;
    padding: 20px;
}
.option2{
    border: 1px solid #999;
    margin: 10px;
    padding: 20px;
}