<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Datos de mis interesados</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 busqueda">
            <div class="form input-group">
                <input type="text" placeholder="Buscar publicacion" class="form-group" aria-label="Buscar publicacion" aria-describedby="button-search">
                <button class="btn btn-primary form-group" id="button-search">
                    Buscar
                </button>
            </div>
            <div class="opt">
                <button class="btn btn-primary">
                    Exportar todos los datos
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="interesados">Interesados</span>
                    <select name="" id="" class="form-control" aria-describedby="interesados">
                        <option value="">Ultimos 15 dias</option>
                    </select>
                    <span class="input-group-text" id="publicaciones">Publicaciones</span>
                    <select name="" id="" class="form-control" aria-describedby="publicaciones">
                        <option value="">Todas</option>
                    </select>
                    <span class="input-group-text" id="preguntas">Preguntas</span>
                    <select name="" id="" class="form-control" aria-describedby="preguntas">
                        <option value="">Todas</option>
                    </select>
                  </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                todavia no tienes interesados en tus publicaciones 
              </div>
        </div>
    </div>
</div>