<div class="container">
    <div class="row row-cols-sm1 row-cols-md-2">
        <div class="promotion">
            <i class="bi bi-megaphone"></i>
            <h3>Deseas publicar?</h3>
            <div class="promotion-text">
                <a href="" type="button" class="btn btn-primary">Publicar</a>
            </div>
            <div class="promotion-text-store">
                <p>contactanos para ofrecerte los mejores productos</p>
            </div>
        </div>
        <div class="promotion">
            <i class="bi bi-shop bi-4x"></i>
            <h3>Nuestras tiendas</h3>
            <div class="promotion-img-store">
                <a href=""><img src="../../../../assets/CrediAutosFaviconPEQUEÑO32x32.svg" alt=""></a>
                <a href=""><img src="../../../../assets/CrediAutosFaviconPEQUEÑO32x32.svg" alt=""></a>
                <a href=""><img src="../../../../assets/CrediAutosFaviconPEQUEÑO32x32.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>