.body-stor{
    background-color: rgba(183, 183, 164,0.1);
    height: 100%;
}
.promotion{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.promotion-text{
    margin: 10px;
}
.promotion-img-store{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.promotion-img-store img{
    position: relative;
    width: 75%;
    object-fit: contain;
}
.promotion-img-store a{
    display: flex;
   align-items: center;
   justify-content: center;
}