.navbar-collapse {
    flex-grow: unset;
}
.footer{
    padding: 20px;
    border-top: 1px solid #999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
    font-size: 13px;
}
.footer small{
    color: #999;
    font-size: 12px;
}
.body-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    padding: 40px;
    border: 1px outset #999;
}