<div class="container-fluid">
    <div class="card-info">
        <div class="head">
            <div class="head-imagen">
                <img src="" alt="">
            </div>
            <div class="head-info">
                <p>2021 | 0 km</p>
                <h5>Reanual Logan Life+</h5>
            </div>
        </div>
        <div class="body">
            <div class="body-head">
                <h4>$50.350.000</h4>
            </div>
            <div class="columnas">
                <div class="trasmision">
                    <p>Trasmision</p>
                    <h6>Automatica</h6>
                </div>
                <div class="combustible">
                    <p>Combustible</p>
                    <h6>Gasolina</h6>
                </div>
                <div class="trasmision">
                    <p>Puertas</p>
                    <h6>5</h6>
                </div>
            </div>
            <div class="card-button">
                <button class="btn- primary">Conócelo</button>
            </div>
        </div>
    </div>
</div>