<div class="container">
    <div class="formulario">
        <div class="header">
            <h3>Completa tus datos</h3>
        </div>
        <div class="form">
            <form class="form-floating">
               <div class="row g-4 form-floating">
                <div class="form-floating col-6">
                    <input type="nombre" class="form-control" id="nombre" >
                    <label for="nombre">Nombre</label>
                </div>
                <div class="form-floating col-6">
                    <input class="form-control" id="apellidos">
                    <label for="apellidos" >Apellidos</label>
                </div>
                <div class="form-floating col-6">
                    <input class="form-control" id="telefono">
                    <label for="telefono" >Telefono</label>
                </div>
               </div>
               <div class="row g-2 form-floating">
                <div class="form-floating col-6">
                    <input type="email" class="form-control" id="email" >
                    <label for="email">Email</label>
                </div>
                <div class="form-floating col-6">
                    <input type="password" class="form-control" id="clave">
                    <label for="clave" >Clave</label>
                </div>
                <div class="form-check col-12">
                    <input class="form-check-input" type="checkbox" value="" id="terminos" checked>
                    <label class="form-check-label" for="terminos">
                        Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.
                    </label>
                  </div>
               </div>
              </form>
        </div>
        <button type="button" class="btn btn-outline-secondary">Continuar</button>
    </div>
</div>