<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/CrediAutosFaviconPEQUEÑO32x32.svg" alt="" width="30" height="24"
        class="d-inline-block align-text-top">
      CrediAutos
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navheader" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/registro']">Crea tu cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Ingresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/questions']"><i class="bi bi-question-circle-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']"><i class="bi bi-telephone-fill"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="body-form">
  <div class="form">
    <div class="header">
      <h5>Modifica tu anuncio</h5>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Numero del anuncion" aria-label="NumeroAnuncio">
      <span class="input-group-text"><i class="bi bi-question-circle-fill"></i></span>
    </div>
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Email" aria-label="email">
      <span class="input-group-text"><i class="bi bi-question-circle-fill"></i></span>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-primary">Continuar</button>
  </div>
</div>
<div class="footer">
  <div class="footer-content">
    <footer class="text-center footer-style">
      <nav>
        <a href="">Trabaja con nosotros</a>
        <a href="">Terminos y condiciones</a>
        <a href="">Como cuidamos tu privacidad</a>
        <a href="">Ayuda /PQR</a>
        <a href="">www.sic.gov.co</a>
      </nav>
      <small> Copyright © 2012-2021 Boyaca Web nit -17514545416 -3 Contáctanos al 018000-00000 o al (1) 738454 desde tu
        celular.</small>
    </footer>
  </div>
</div>