<div class="container-fluid footer">
    <div class="container">
        <div class="footer-content">
            <footer class="footer-style">
                <nav>
                    <a href="">Trabaja con nosotros</a>
                    <a [routerLink]="['/terminos']">Terminos y condiciones</a>
                    <a [routerLink]="['/privacidad']">Como cuidamos tu privacidad</a>
                    <a [routerLink]="['/questions']">Ayuda /PQR</a>
                    <a href="">www.sic.gov.co</a>
                </nav>
                <small> Copyright © 2012-2021 Boyaca Web  nit -17514545416 -3 Contáctanos al 018000-00000 o al (1) 738454 desde tu celular.</small>
            </footer>
        </div>
    
    </div>
</div>