<div class="container-fluid">
    <app-header></app-header>
    <div class="body-form container-fluid">
        <mat-card class="example-card m-auto">
            <div class="col-10 m-auto pt-5">
                <h3>¡Hola, ! para seguir Ingresa tu clave</h3>
        <div class="row user-row">
            <div class="user col-9">
                <i class="bi bi-person"></i>
                <p>{{ correo }}</p>
                <a href=""><i class="bi bi-x"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="formulario col">
                <form [formGroup]="claveForm">
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Clave</label>
                        <input type="password" class="form-control" id="clave" aria-describedby="clave"
                            formControlName="clave">
                        <div id="claveHelp" class="form-text"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
                <button type="button" class="btn btn-outline-danger pb-2" (click)="ingresar()">Ingresar</button>
                <button type="button" class="btn btn-light" (click)="valEmail()">No se mi clave</button>
            
        </div>
    </div>
        </mat-card>
        
    </div>
    <app-footer-p></app-footer-p>
</div>