<div class="container-fluid">
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid justify-content-end">
                <a class="navbar-brand" href="#">
                    <img src="./assets/CrediAutosFaviconPEQUENO32x32.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    CrediAutos
                  </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navheader" id="navbarSupportedContent">
                  <div class="container-fluid justify-content-end">
                      <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-end">
                        <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/questions']" ><i class="bi bi-question-circle-fill"></i></a>
                        </li>
                      </ul>
                  </div>
              </div>
            </div>
          </nav>
    </div>
    <div class="body-form container-fluid">
        <div class="form row justify-content-md-center">
           <div class="row">
            <div class="head col ">
                <h3>¡Hola, ! para seguir Ingresa tu clave</h3>
            </div>
           </div>
           <div class="row user-row">
               <div class="user col-9">
                <i class="bi bi-person"></i>
                <p>{{ correo }}</p>
                <a href=""><i class="bi bi-x"></i></a>
               </div>
           </div>
           <div class="row">
            <div class="formulario col">
                <form [formGroup]="claveForm">
                    <div class="mb-3">
                      <label for="usuario" class="form-label">Clave</label>
                      <input type="password" class="form-control" id="clave" aria-describedby="clave" formControlName="clave">
                      <div id="claveHelp" class="form-text"></div>
                    </div>
                </form>
            </div>
           </div>
            <div class="row">
                <div class="buttons col">
                    <button type="submit" class="btn btn-primary" (click)="ingresar()">Ingresar</button>
                    <button type="button" class="btn btn-light" (click)="valEmail()">No se mi clave</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a [routerLink]="['/privacidad']">Como cuidamos tu privacidad</a>
        <small>Copyright © 1999-2021 crediautos Colombia LTDA.</small>
    </div>
</div>