<div class="container-fluid">
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid justify-content-end">
                <a class="navbar-brand" href="#">
                    <img src="./assets/CrediAutosFaviconPEQUEÑO32x32.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    CrediAutos
                  </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navheader" id="navbarSupportedContent">
                  <div class="container-fluid justify-content-end">
                      <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-end">
                        <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/questions']" ><i class="bi bi-question-circle-fill"></i></a>
                        </li>
                      </ul>
                  </div>
              </div>
            </div>
          </nav>
    </div>
    <div class="body-form container-fluid">
        <div class="form row justify-content-md-center">
           <div class="row">
            <div class="head col ">
                <h3>¡Hola! Ingresa tu e‑mail o usuario</h3>
            </div>
           </div>
           <div class="row">
            <div class="formulario col">
                <form [formGroup]="correoForm">
                    <div class="mb-3">
                      <label for="usuario" class="form-label">Email o Usuario</label>
                      <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" formControlName="emailuser">
                      <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                    </div>
                </form>
            </div>
           </div>
            <div class="row">
                <div class="buttons col">
                    <button type="submit" class="btn btn-primary" (click)="continuar()" [disabled]="!correoForm.valid">Continuar</button>
                    <button type="button" class="btn btn-light" (click)="crearCuenta()">Crear Cuenta</button>
                </div>
            </div>
        </div>
        <div class="ayuda row justify-content-md-center">
           <div class="col">
            <button ><a [routerLink]="['/errlog']"> Necesito ayuda para ingresar</a></button>
           </div>
        </div>
    </div>
    <div class="footer">
        <a [routerLink]="['/privacidad']">Como cuidamos tu privacidad</a>
        <small>Copyright © 1999-2021 crediautos Colombia LTDA.</small>
    </div>
</div>