<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
            <div class="container-fluid justify-content-end">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/CrediAutosFaviconPEQUEÑO32x32.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    CrediAutos
                  </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navheader" id="navbarSupportedContent">
                  <div class="container-fluid justify-content-end">
                      <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-end">
                        <li class="nav-item">
                          <a class="nav-link" href="#" ><i class="bi bi-question-circle-fill"></i></a>
                        </li>
                      </ul>
                  </div>
              </div>
            </div>
          </nav>
    </div>
    <div class="body">
        <div class="form">
            <div class="head">
                <h3>¡Hola! Ingresa tu e‑mail o usuario</h3>
            </div>
            <div class="formulario">
                <form>
                    <div class="mb-3">
                      <label for="usuario" class="form-label">Email o Usuario</label>
                      <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                    </div>
                </form>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary">Continuar</button>
                <button type="button" class="btn btn-light">Crear Cuenta</button>
            </div>
        </div>
        <div class="ayuda">
            <button >Necesito ayuda para ingresar</button>
        </div>
    </div>
    <div class="footer">
        <a href="">Como cuidamos tu privacidad</a>
        <small>Copyright © 1999-2021 crediautos Colombia LTDA.</small>
    </div>
</div>