@import "~bootstrap-icons/font/bootstrap-icons.css";

.btn-primary-black{
    background-color: #0d0d0dce;
    border-color: #e51e1d;
    color: #fff

}
.btn-primary-black:hover{
    background-color: #0d0d0df3;
    color: #fff !important;
}
.fuenteBlanca{
    color: #f2f2f2 !important
}
.fondoBlack{
    background-color: #0d0d0d !important;
    z-index: -2
}
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%;}
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; font-size: medium !important;}

