@import "~bootstrap-icons/font/bootstrap-icons.css";
.btn-primary-black{
    background-color: #0d0d0d;
    border-color: #8c0303;
    color: #fff

}
.fuenteBlanca{
    color: #f2f2f2 !important
}
.fondoBlack{
    background-color: #0d0d0d !important;
    z-index: -2
}
/* You can add global styles to this file, and also import other style files */
