<app-header></app-header>
<div class="body">
    <div class="body-page">
        <div class="title">
            <h5>Agregar nueva marca</h5>
        </div>
        <div class="form">
            <form [formGroup]="marcaForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de la marca" formControlName="name">
                            <label for="floatingInput">Nombre de la marca</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="button">
            <button [disabled]="!marcaForm.valid" (click)="onGuardar()">Guardar</button>
        </div>
    </div>
</div>