

<div class="flex product-img-slide">
    <div class="product-images">
        <div  class="main-img js-product-slider ">
            <a  data-toggle="modal" data-target="#exampleModal" class="hover-images effect container-img"><img src={{product.urlimg}} alt="photo" class="img-reponsive center"></a>
            <a *ngFor="let image of imgs" href="#" class="hover-images effect container-img"><img src={{image.urlimg}} alt="photo" class="img-reponsive center"></a>
            
        </div>
    </div>
    <div class="multiple-img-list-ver2 js-click-product">
        <div  class="product-col">
            <div class="img active">
                <img src={{product.urlimg}} alt="photo" class="img-reponsive center-min">
            </div>
        </div>
        <div *ngFor="let image of imgs" class="product-col">
            <div class="img active">
                <img src={{image.urlimg}} alt="photo" class="img-reponsive center-min">
            </div>
        </div> 
    </div>
</div>  
  <!-- Modal -->
    <div class="quickview-wrapper open modal fade" id="exampleModalgg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="quick-modal show">
            <div id="quickview-content">
                <a  class="close-btn quickview-close" ></a>
                <div class="single-product-detail">
                    <div class="row">
                        <div class="col-md-11 col-sm-12">
                            <div class="product-img js-quickview-slide">
                                <div *ngFor="let image of imgs" class="main-img">
                                    <a href="#" class="hover-images effect"><img src={{image.urlimg}} alt="photo" class="img-reponsive"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
